body {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    background-color: #4450f5;
}

.navbar-brand {
    font-weight: bold;
}

.fa-quote-right {
    font-size: 40px;
}

.footer-end {
    background-color: #4450f5;
}